body {
    max-width: 901px;
    margin: 0 auto;
}
nav img {
    width: 20px;
    height: 20px;
    margin-left: 3px;
}

nav img:nth-child(7){
    margin-left: 10px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 2.5em;
}
h4 {
    font-size: .7em;
    margin-top: -6px;
}

header {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
    height: 55px;
    margin-top: 40px;
}

.header-image {
    margin-top: 10px;
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

#header-left {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 350px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#border {
    border-image: url("./assets/hr-img.png");
    border-image-repeat: repeat;
}